<div class="article-icons">
	<%= link_to edit_sub_article_path(@sub_article), class: "pencil-icon" do %>
		<i class="fa fa-pencil"></i>
	<% end %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to sub_article_path(@sub_article), method: :delete, data: {confirm: "Are you sure?"}, class: "close-icon" do %>
		<i class="fa fa-close"></i>
	<% end %>
</div>
<h1><%= @sub_article.name %></h1>

<br>
<p>
  <b>Criado Por: </b><%= @user.name %>
</p>
<p>
  <b>Descrição: </b><%= @sub_article.description %>
</p>
<br>

<div class="markdown-text">
	<%= markdown(@sub_article.text) %>
</div>
