<%= form_for @folder do |f| %>
	<div class="form-field">
		<%= f.label :name, 'Nome' %>
  		<%= f.text_field :name, class: "form-control" %>
	</div>
	<br>
	<div class="form-field">
		<%= f.label :description, 'Descrição' %>
  		<%= f.text_field :description, class: "form-control" %>
	</div>
	<br>
	<div class="form-field">
		<%= f.submit "Criar Pasta", class: "btn btn-primary" %>
	</div>
<% end %>
