<div class="article-icons">
	<%= link_to edit_article_path(@article), class: "pencil-icon" do %>
		<i class="fa fa-pencil"></i>
	<% end %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to article_path(@article), method: :delete, data: {confirm: "Essa operação é irreversível, tem certeza que deseja deletar?"}, class: "close-icon" do %>
		<i class="fa fa-close"></i>
	<% end %>
</div>
<h1><%= @article.name %></h1>

<br>
<p>
  <b>Criado Por: </b><%= @user.name %>
</p>
<p>
  <b>Descrição: </b><%= @article.description %>
</p>
<br>

<div class="markdown-text">
	<%= markdown(@article.text) %>
</div>

<br>
<div style="width: 100%;padding: 0px 20px 0px 20px;">
  <% @article.sub_articles.each do |sub_article|%>
    <br />
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">
          <%= sub_article.name %>
        </h5>
        <p class="card-text">
          <%= textShow(sub_article.text) %>
        </p>
        <a href="#" class="card-link">
          <%= link_to "Acessar", sub_article_path(sub_article) %>
        </a>
      </div>
    </div>
  <% end %>
</div>