<h1>
  <span> Artigo: </span>
  <%= @article.name %>&nbsp;
  <%= link_to new_sub_article_path(@article.id) do %>
    <i
      class="fa fa-plus title-icon"
      data-toggle="tooltip"
      data-placement="top"
      title="Adicionar Sub Artigo"
    ></i>
  <% end %>
  <%= link_to edit_article_path(@article) do %>
    <i
      class="fa fa-edit title-icon"
      data-toggle="tooltip"
      data-placement="top"
      title="Editar"
    ></i>
  <% end %>
  <%= link_to article_path(@article), method: :delete, data: {confirm: "Essa operação é irreversível, tem certeza que deseja deletar?"} do %>
    <i
      class="fa fa-trash title-icon"
      data-toggle="tooltip"
      data-placement="top"
      title="Deletar"
    ></i>
  <% end %>
</h1>
<hr />

<p>
  <b>Criado Por: </b><%= @user.name %>
</p>
<p>
  <b>Descrição: </b><%= @article.description %>
</p>
<br>

<div class="markdown-text">
	<%= markdown(@article.text) %>
</div>

<br>
<div style="width: 100%;padding: 0px 20px 0px 20px;">
  <% @article.sub_articles.each do |sub_article|%>
    <br />
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">
          <%= sub_article.name %>
        </h5>
        <p class="card-text">
          <%= textShow(sub_article.text) %>
        </p>
        <a href="#" class="card-link">
          <%= link_to "Acessar", sub_article_path(sub_article) %>
        </a> &nbsp;
        <a href="#" class="card-link">
          <%= link_to "Editar", edit_sub_article_path(sub_article) %>
        </a> &nbsp;
        <a href="#" class="card-link">
          <%= link_to "Deletar", sub_article_path(sub_article), method: :delete, data: {confirm: "Essa operação é irreversível, tem certeza que deseja deletar?"} %>
        </a>
      </div>
    </div>
  <% end %>
</div>