<h1> Criar Sub Artigo </h1>
<hr />

<%= form_for @sub_article do |f| %>
	<div class="form-field">
		<%= f.label :name, "Nome" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-field">
		<%= f.label :description, "Descrição" %>
		<%= f.text_area :description, class: "form-control" %>
	</div>
	<br>
	<%= f.label :text, "Conteúdo" %>
	<%= f.text_area :text, id: "markdown" %>
	<%= f.hidden_field :article_id, value: params[:article_id] %>
	<br>
	<%= f.submit "Criar", class: "btn btn-primary" %>
<% end %>

<script>
var simplemde = new SimpleMDE({
	element: document.getElementById("markdown"),
	spellChecker: false
});
</script>
