<h1> Editar Usuário</h1>
<hr />

<%= form_for @user, url: update_user_path(@user), method: :patch do |f| %>
	<div class="form-field">
		<%= f.label :name, "Nome" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<br>
	<div class="form-field">
		<%= f.label :password, "Nova senha" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<br>
	<div class="form-field">
		<%= f.submit "Salvar", class: "btn btn-primary" %>
	</div>
<% end %>
