<!DOCTYPE html>
<html>
  <head>
    <title>Centeias</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Centeias Playbook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/search">
              <i class="fa fa-fw fa-search"></i>
              <span class="nav-link-text">Pesquisar</span>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to(requests_path(), class: "nav-link") do %>
              <i class="fa fa-fw fa-envelope"></i>
              <span> Requisições</span>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/folders">
              <i class="fa fa-fw fa-sitemap"></i>
              <span class="nav-link-text">Pastas</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-cog"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user %>
                <%= link_to(show_user_path(current_user), class: "dropdown-item") do %>
                  <i class="fa fa-fw fa-user"></i>
                  <span>Perfil</span>
                <% end %>
                <%= link_to(users_path(), class: "dropdown-item") do %>
                  <i class="fa fa-fw fa-users"></i>
                  <span>Usuários</span>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do %>
                  <i class="fa fa-fw fa-sign-out"></i>
                  <span>Sair</span>
                <% end %>
              <% else %>
                <%= link_to(new_user_session_path, class: "dropdown-item") do %>
                  <i class="fa fa-fw fa-sign-in"></i>
                  <span>Entrar</span>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
                          
    <div class="container-fluid">
      <div class="content-margintop" style="margin-bottom: 300px;">
        <%= yield %>
      </div>
    </div>
    
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
