<!DOCTYPE html>
<html>
  <head>
    <title>Centeias</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Playbook</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Início">
          <a class="nav-link" href="/">
            <%= image_tag("logo.png", :alt => "logo", :class => "img-fluid") %>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/search">
            <i class="fa fa-fw fa-search"></i>
            <span class="nav-link-text">Pesquisar</span>
          </a>
        </li>
        <% if current_user %>
          <li class="nav-link" data-toggle="tooltip" data-placement="right" title="Sair">
            <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
              <i class="fa fa-fw fa-sign-out"></i>
              <span class="nav-link-text">Sair</span>
            <% end %>
          </li>
          <li class="nav-link" data-toggle="tooltip" data-placement="right" title="Perfil">
            <%= link_to(show_user_path(current_user), class: "nav-link") do %>
              <i class="fa fa-fw fa-user"></i>
              <span class="nav-link-text">Perfil</span>
            <% end %>
          </li>
          <li class="nav-link" data-toggle="tooltip" data-placement="right" title="Usuários">
            <%= link_to(users_path(), class: "nav-link") do %>
              <i class="fa fa-fw fa-users"></i>
              <span class="nav-link-text">Usuários</span>
            <% end %>
          </li>
          <li class="nav-link" data-toggle="tooltip" data-placement="right" title="Requisições">
            <%= link_to(requests_path(), class: "nav-link") do %>
              <i class="fa fa-fw fa-envelope"></i>
              <span class="nav-link-text">Requisições</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-link" data-toggle="tooltip" data-placement="right" title="Entrar">
            <%= link_to(new_user_session_path, class: "nav-link") do %>
              <i class="fa fa-fw fa-sign-in"></i>
              <span class="nav-link-text">Entrar</span>
              <% end %>
          </li>
        <% end %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/folders">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Pastas</span>
          </a>
        </li>
        <% if current_user %>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
            <a class="nav-link" href="/folders/new">
              <i class="fa fa-fw fa-plus"></i>
              <span class="nav-link-text">Nova Pasta</span>
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="content-margintop">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
